.contentBox{
  position: absolute;
  top: 40px;
  bottom: 50px;
  left: 0;
  overflow: hidden;
  right: 0;
}
.reader-tools{
  height: 35px;
  font-size: 30px;
  color: rgba(125, 119, 124, 0.31);
  border-bottom: 1px solid #CFB36D;
}

.reader-tools i {
  height: 100%;
  width: 10%;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}
.reader-tools i:hover {
  background: rgb(211, 166, 114);
  color: white;
}
.pleft,.ppleft{float: left;}
.pright,.ppright{float: right;}

.reader-box{
  font-family: 微软雅黑;
  font-size: 16px;
  color: #555;
  overflow: hidden;
  position: absolute;
  top: 35px;
  left: 50px;
  bottom: 0;
  right: 50px;
}
.wrapper {
  height: 100%;
  position: absolute;
  overflow-y: auto;
  right: -17px;
}

.content {
  outline: 0;
  position: relative;
  padding: 0 10px;
}
/*
.content:before{
  content: "";
  position: absolute;
  background-image: url(../assets/images/point.png);
  width: 15px;
  height: 30px;
  left: 85px;
  top: 52px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}*/
